  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" z-index:100;position: fixed;width: -webkit-fill-available;">
      <a class="navbar-brand" href="#">Radhika Agarwal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#section1">About <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#section2">Experiences</a>
          <a class="nav-item nav-link" href="#section3">Projects</a>
          <a class="nav-item nav-link" href="#">Contact</a>
        </div>
      </div>
    </nav> -->
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile colspan = 3 rowspan = 4>
            <div class="container">
            <h3 class="display-4">About Me</h3>
            <img src="../../assets/images/profile3.png" class="rounded-circle" style ="margin-top: -5rem;float:right; height: 15rem;width: 15rem;" >
            <p >Hi, I am Radhika Agarwal !
              <br>
              I am trying to make simple changes to create small impacts.
              I thrive to better myself at what I do. Hard work is my strength, OCD my weakness.
            </p>
            <p><span><img style=" height:2em;width:2em;margin: .2em;" src="../../assets/images/grad.png"></span>
              <button type="button" class="btn btn-sm btn-primary">
              Bachelor's in Computer Science Engg. at PES University,Bangalore.
              </button> 
              <button class="btn btn-sm " style="margin: 0.4em;color: white;background-color: #d23b40;"> CGPA 9.15</button>
              </p>
              <p><span>
            <h5>What can I do?</h5>
              <button type="button" class="btn btn-primary btn-sm" style="margin: 0.4em;">Data Analytics</button>
              <button type="button" class="btn btn-primary btn-sm" style="margin: 0.4em;">Full Stack Development</button>
              <button type="button" class="btn btn-primary btn-sm" style="margin: 0.4em;">Big Data</button>
              <button type="button" class="btn btn-primary btn-sm" style="margin: 0.4em;">Cloud Ops</button>
            </span></p>
            <p>
              <span>
                <h5>Social Imprint</h5>
                <a href="https://github.com/rads284"><img src="../../assets/images/git.png" style="height:2.2em; width:2.2em; margin:0.4em;"></a>
                <a href="http://linkedin.com/in/radhika-agarwal-37b7a7119/"><img src="../../assets/images/in.png" style="height:2em; width:2em; margin:0.4em;"></a>
                <a href="https://drive.google.com/file/d/1I18mYZPVZGZDnmERv0TNXOdbzVCbDiF4/view?usp=sharing"><img src="../../assets/images/resume.png" style="height:2em; width:2em; margin:0.4em;"></a>
              </span>
            </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan=1 rowspan=2 style="background-color:#083358 ;color:white;">
        <h5 color="white">Skills</h5>
        <p>
          <button type="button" class="btn btn-secondary btn-sm" style="margin: 0.2em" *ngFor="let item of skills_list">{{item}}</button>
        </p>
        </mat-grid-tile>
        <mat-grid-tile colspan=2 rowspan=2 style="background-color:#083358 ;color:white;">
            <h5 color="white">Experiences</h5>
          <div>
            <table style="color:white;font-size: smaller;">
              <tr>
                <td>
                  <h6> Summer Technology Analyst at Morgan Stanley</h6>
                  </td>
                <td>
                  May'19-July'19
                  </td>
                </tr>
              <tr>
                <td>Data Analytics and Full Stack Development. 
                    Made a POC for Rule Recommendation for reconciliation.
                </td>
                <td>Angular,Flask and Python</td>
                </tr>
              <tr>
                <td><h6>Summer Intern at Planetworx Technology Pvt Ltd</h6></td>
                <td>June'18-July'18</td>
                </tr>   
              <tr>
                <td>
                  My responsibilities included developing data munging tools,
                  a script to migrate exisiting large scale data from DDB to S3 buckets. 
                  </td>
                 <td>React,Python,ES,DDB,Redis,JSON</td>
                </tr>
              </table>
            </div>
          </mat-grid-tile>
        <!-- <mat-grid-tile colspan=1 rowspan=2>
          <div>

          </div>
        </mat-grid-tile> -->
      </mat-grid-list>
    
  
      